
#cabeza {
    background-color: blanchedalmond;    
    align-items: center;
    display: flex;
    justify-content: center;
   }

.box-cont{
    width: 10rem;
    font-family: arial, sans-serif;     
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    border-collapse: separate;
    border-spacing: 10px; 
}

.box-licont{    
    border: 1px solid black;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;    
}

