*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: rgb(255, 255, 255);
    stroke: #c9e4f6;/*text-shadow: 1px 1px rgb(124, 124, 124);*/
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

body{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
   height: 100vh;
   width: 100vw;
   margin: 0;
   overflow-x: hidden;
}

.Contenedor{
    width: 90%;
    margin: 30px 5%;
    overflow: hidden;
}

.titulo{
    color: green;
    font-size: 10px;
    text-align: center;

}

header{
    width: 100%;
    height: 600px;
    background: #DCE35B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(122, 45%, 49%, 0.589), hsla(63, 65%, 52%, 0.603)), url(./images/header.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(122, 45%, 49%, 0.493), hsla(63, 65%, 52%, 0.418)), url(./images/header.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin-bottom: 100px;
}

ul{
    list-style-type: none;
}

li {
    float: left;
    margin: 0 80px;
}

li > a{
    color: honeydew;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    transition: .3s;
}

ul a:hover{
    text-decoration: underline;
    color: black;
    font-size: 30px;
}

.menu{
    height: 20px;
    display: flex;
    justify-content: center;
}

/**:(*/
header .text_header{
    display: flex;
    height: 400px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2px;
}

.onda{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/**Estilo Body
-> Informacion que es*/

.Contenedor_queEs{
    display: grid;
    width: 100%;
    text-align: justify; 
    grid-template-areas: "text video"
                         "img video"; 
    
}

.imagen_Ilustracion{
    width: 300px;
    grid-area: img;
    justify-self: center;

}

.text_queEs{
    grid-area: text;
}

.video{
    width: 100%;
    grid-area: video;
    box-sizing: border-box;
    margin-left: 15px;
    align-self: center;
}

.titulo{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 35px;
    color: green;
    box-shadow: rgba(5, 41, 6, 0.712) 0px 2.2px 0;
}

p{
    margin: 18px 5px;
    font-size: 18px;
    /**margin-right: 300px;*/
    
}

/**Configuración de cuadro con imagenes*/
.portafolio{
    background: linear-gradient(to right, hsla(76, 77%, 45%, 0.13), hsla(209, 65%, 52%, 0.116)), url(); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.galeria{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
}

.section_companias{
    display: flex;
    flex-direction: row;
}

.imagen_galeria{
    display: flex;
    width: calc(50% - 40px);
    justify-content: center;
    text-align: center;
    margin: 20px;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid green;
}

.imagen{
    width: 100%;
    
}

/**Configuración de EMPRESAS*/
.Contenedor_Empresas_Apoya{
    display: flex;
    text-align: justify;
    flex-direction: column;
    
    width: calc(50% - 28px);
}

.cubiculo{
    display: flex;
    width: 20%;
    height: 20%;
    justify-content: right;
    /**flex-wrap: wrap;*/
    margin: 10px;
    padding: 5px;
}

/**Configuración de NOTICIAS*/
.Contenedor_News{
    display: flex;
    text-align: justify;
    flex-direction: column;
    flex: 1;
    margin: 0 10px;
    width: calc(50% - 28px);
}

.noticias_cubo{
    display: flex;
    margin-left: 50px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    word-wrap: break-word;
    margin: auto;
}

.noticias{
    display: flex;
    margin-left: 100px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    word-wrap: break-word;
    margin: auto;
}

.TituloNoticias{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 35px;
    color: green;
    box-shadow: rgba(5, 41, 6, 0.712) 0px 2.2px 0;
}

.imagenNoticia{
    display: flex;
    width: 70%;
    height: 70%;
    justify-content: right;
    /**flex-wrap: wrap;*/
    margin: 20px 5%;
    
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formulario{
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: hsla(135, 79%, 53%, 0.219);
    box-shadow: 5px 5px 10px -3px #000000c2, -5px -5px 15px 3px #084119a8;
    border: none;
}

.formulario_mini{
    display: block;
    margin: 10px;
    font-size: 18px;
}



/**Configuración de FOOTER*/
.imagen_galeria p{
    font-size: 20px;
   /** margin-right: 300px;*/
}

.Contenedor_footer{
    display: flex;
    background: linear-gradient(to right, hsla(257, 16%, 17%, 0.493), hsla(204, 70%, 49%, 0.329)), url();
    justify-content: center;
    margin: 0% 0;
    width: 100%;
    height: 300px;
}

.piePagina{
    display: grid;
    color: rgb(24, 16, 3);
    text-align: center;
    align-items: center;
    font-size: 10px;
    margin: 1 0;
}

/** Diseño de últimos cambios 09/10/2021*/


/** Diseño de eventos 13/10/2021*/
.FocElemt{
    color: rgb(255, 255, 255);
    background: rgb(90, 134, 19);
}

button{
    background-color: rgb(90, 134, 2);
    font-size: 20px;
    border-radius: 18px;
    color: white;
    margin: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-bottom: rgba(8, 98, 8, 0.76);
}

button:active{
    background-color: rgb(58, 158, 58);
}

button:focus{
    outline: none;
}