h1 {
    font-size: x-large;
}

/* .container{
    background-color: aqua;
}

#second-title{
    background-color: rgb(165, 235, 95);
}



.parrafo {
    border: 1px solid #333;
}

.parrafo.small{
    font-size: smaller;
} */

p, h1{
    color: chocolate;
}


.container p{
    color: blue;
}

.container > p {
    color: blue;
}

.parrafo + .parrafo_2 {
    font-size: 25px;
}