p {
  font-size: 20px;
  color: blue;
}

p {
  color: green;
}

#parrafo_1_div_1 {
  color: blueviolet;
}

div .parrafo {
  font-weight: bold;
}

div > .parrafo {
  font-style: italic;
}

section,
.texto_naranja {
  color: orangered;
  font-size: x-large;
}

h2 + .texto {
    border: 1px solid salmon;
}
